<% if tasks.empty? %>
    There are no tasks to show here.
<% else %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Sponsor</th>
      <th>Plan</th>
      <th>Next Step</th>
      <th>Status</th>
      <th>Last Change</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'task', collection: tasks %>
  </tbody>
</table>
<% end %>
