<header class="image-bg-fluid-height">
   <div class="header-radius" >
     <%= image_tag("conference_logo.png", class: 'main-logo-size') %>
     <h2 class="SceneOverlay-slogan">The most <emph>precious</emph> Ruby Conference in the world!</h2>
     <div class="SceneOverlay-info">
       <p class="SceneOverlay-date">14-15 September</p>
       <p class="SceneOverlay-location">BRAGA, Portugal</p>
     </div>
     <% if current_user.present? %>
     <%= link_to new_user_session_path, class: "btn btn-success btn-lg" do %>
         <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Go to my current tasks
     <% end %>
     <% else %>
     <%= link_to new_user_session_path, class: "btn btn-success btn-lg" do %>
         <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Sign up
     <% end %>
     <% end %>
   </div>
 </header>
