<%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="page-header">
        <h3>Financials</h3>
      </div>
      <% if @plans.empty? %>
      <div>
        No plans available.
      </div>

      <% else %>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#profit">Profit Chart</a></li>
        <li><a data-toggle="tab" href="#roi">Return of Investment Chart</a></li>
        <li><a data-toggle="tab" href="#extra_pay">Extra Pay Chart</a></li>
      </ul>

      <div class="tab-content">
        <div id="profit" class="tab-pane fade in active">
          <%= pie_chart @graphic.data_for(:profit) %>
        </div>

        <div id="roi" class="tab-pane fade">
          <%= column_chart @graphic.data_for(:roi) %>
        </div>

        <div id="extra_pay" class="tab-pane fade">
          <%= column_chart @graphic.data_for(:extra_pay) %>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>