<%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="page-header">
        <h3>Financials</h3>
      </div>
      <% if @plans.empty? %>
      <div>
        No plans available.
      </div>

      <% else %>
      <div class="content">
        <div>
          <%= pie_chart @graphic.data_for(:profit) %>
          <p class="text-center"><small>Profit Chart</small></p>
        </div>

        <div>
          <%= column_chart @graphic.data_for(:roi) %>
          <p class="text-center"><small>Return of Investment Chart</small></p>
        </div>

        <div>
          <%= column_chart @graphic.data_for(:extra_pay) %>
          <p class="text-center"><small>Extra Pay Chart</small></p>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>

