<%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="page-header">
        <h3>Financials</h3>
      </div>
      <% if @plans.empty? %>
      <div>
        No plans available.
      </div>
      <% else %>

        <%= pie_chart @graphic.data_for(:profit) %>
        <p class="chart-label">Profit by plan chart<p>

        <%= column_chart @graphic.data_for(:roi) %>
        <p class="chart-label">Return of investment chart<p>

        <%= column_chart @graphic.data_for(:extra_pay) %>
        <p class="chart-label">Extra pay by plan chart<p>
      <% end %>
    </div>
  </div>
</div>
