// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form {
    background-color: #FACC26;
}

.main-logo-size{
    width: 250px;
}

.main-logo-size-margin{
    margin-top: 50px;
}
